{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^react",
        "^react-dom",
        "^react-router",
        "^@mui/",
        "^@emotion/",
        "^[a-z]",
        "^@shared/",
        "^@/",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
