{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[a-z]", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
